<!doctype html>

<html>
	<head>
		<title>Dashboard</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	
	<body>
		<div ng-app="dashboard" ng-controller="dashboardCtrl" ng-init="init()">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<form class="form-inline">
					<select ng-model="name" ng-disabled="isRunning || isRefreshing" class="form-control mr-2">
						<option value="wulfsuspension">Wulf Suspensions</option>
						<option value="suspensionspecialists">Suspension Specialists</option>
					</select>
					<button ng-click="runReport()" ng-disabled="isRunning || isRefreshing" class="btn btn-primary mr-2">Run Report</button>
					<button ng-click="getList()" ng-disabled="isRunning || isRefreshing" class="btn btn-secondary mr-2">Refresh List</button>
					<i class="fa fa-lg" ng-class="(isRefreshing || isRunning) ? 'fa-spinner fa-spin' : ''" class="mr-2" title="Search"></i>
				</form>
			</nav>
			
			<div class="alert mx-2" ng-show="alertMessage" ng-class="(isError) ? 'alert-danger' : 'alert-info'">{{ alertMessage }}</div>
		
			<div class="px-2">
				<ul class="list-group">
					<li ng-repeat="file in list | orderBy: file.split(' ')[1] : true" class="list-group-item"><a href="https://ebayreports.s3.amazonaws.com/{{ file }}">{{ file | removePath }}</a>
				</ul>
			</div>
		</div>
		
		<script src="dashboardApp.js"></script>
		<script src="dashboardCtrl.js"></script>
	</body>
</html>	
