<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	
	<body>
		<div ng-app="dashboard" ng-controller="dashboardCtrl" ng-init="init()">
			<select ng-model="name">
				<option value="wulfsuspension">Wulf Suspensions</option>
				<option value="suspensionspecialists">Suspension Specialists</option>
			</select>
			<button ng-click="runReport()">Run Report</button><br/><br/>
			<button ng-click="getList()">Refresh List</button>
		
			<ul>
				<li ng-repeat="file in list"><a href="https://ebayreports.s3.amazonaws.com/{{ file }}">{{ file }}</a>
			</ul>
		</div>
		
		<script src="dashboardApp.js"></script>
		<script src="dashboardCtrl.js"></script>
	</body>
</html>	
